arm templates/alertmanager/alertmanager-incidents.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppEnv": {
      "type": "string",
      "defaultValue": "dev",
      "allowedValues": [
        "prod",
        "dev"
      ]
    },
    "logicAppLocation": {
      "type": "string",
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "dynamicsCrmOnlineConnectionName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Dynamics 365 connection"
      }
    }
  },
  "variables": {
    "path": "[if(equals(parameters('logicAppEnv'), 'prod'), variables('prod'), variables('dev'))]",
    "prod": "/datasets/@{encodeURIComponent(encodeURIComponent('org9f436416.crm'))}/tables/",
    "dev": "/datasets/@{encodeURIComponent(encodeURIComponent('orgb1b7c4c0.crm'))}/tables/",
    "event": "@{encodeURIComponent(encodeURIComponent('apitil_events'))}/",
    "incident": "@{encodeURIComponent(encodeURIComponent('apitil_incidents'))}/",
    "event_search": "/@{encodeURIComponent(encodeURIComponent(triggerBody()?['apitil_eventid']))}"

  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('dynamicsCrmOnlineConnectionName')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/dynamicscrmonline')]"
        },
        "displayName": "[parameters('dynamicsCrmOnlineConnectionName')]"
      }
    },
    {
      "name": "10m-incident-manager-exceptions",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('dynamicsCrmOnlineConnectionName'))]"
      ],
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "If_Event_is_an_Exception": {
              "actions": {
                "Does_the_Incident_exist": {
                  "actions": {
                    "For_each": {
                      "actions": {
                        "Associate_Event_to_Incident": {
                          "inputs": {
                            "body": {
                              "_apitil_incidentid_value": "@items('For_each')?['apitil_incidentid']",
                              "_statecode_label": "Inactive",
                              "_statuscode_label": "Closed",
                              "apitil_action": 809730000
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                              }
                            },
                            "method": "patch",
                            "path": "[concat(variables('path'), variables('event'), 'items', variables('event_search'))]"
                          },
                          "runAfter": {},
                          "type": "ApiConnection"
                        }
                      },
                      "foreach": "@body('List_records')?['value']",
                      "runAfter": {},
                      "type": "Foreach"
                    }
                  },
                  "else": {
                    "actions": {
                      "Create_New_Incident_from_Event": {
                        "inputs": {
                          "body": {
                            "_apitil_action_label": "Create Incident",
                            "_statecode_label": "Inactive",
                            "_statuscode_label": "Closed - Incident Created",
                            "apitil_acknowledged": true
                          },
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                            }
                          },
                          "method": "patch",
                          "path": "[concat(variables('path'), variables('event'), 'items', variables('event_search'))]"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                      },
                      "Delay": {
                        "inputs": {
                          "interval": {
                            "count": 7,
                            "unit": "Second"
                          }
                        },
                        "runAfter": {
                          "Create_New_Incident_from_Event": [
                            "Succeeded"
                          ]
                        },
                        "type": "Wait"
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@length(body('List_records')?['value'])",
                          1
                        ]
                      },
                      {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@items('For_each_2')?['_apitil_slastatus_label']",
                                "Completed"
                              ]
                            }
                          }
                        ]
                      }
                  ]
                },
                  "runAfter": {
                    "List_records": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "List_records": {
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "[concat(variables('path'), variables('incident'), 'items')]",
                    "queries": {
                      "$filter": "statecode eq 0 and apitil_title eq '@{triggerBody()?['apitil_name']}' and _apitil_account_value eq '@{triggerBody()?['_apitil_relatedaccount_value']}'",
                      "$top": 1
                    }
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                }
              },
              "else": {
                "actions": {
                  "Record_Is_Not_An_Exception": {
                    "inputs": {
                      "runStatus": "Succeeded"
                    },
                    "runAfter": {},
                    "type": "Terminate"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['apitil_level']",
                      345550002
                    ]
                  }
                ]
              },
              "runAfter": {},
              "type": "If"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_record_is_created": {
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "[concat(variables('path'), variables('event'), 'onnewitems')]"
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 3
              },
              "splitOn": "@triggerBody()?['value']",
              "type": "ApiConnection"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "dynamicscrmonline": {
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/dynamicscrmonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('dynamicsCrmOnlineConnectionName'))]",
                "connectionName": "[parameters('dynamicsCrmOnlineConnectionName')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {}
}