projects/alertmanager/alertmanager-sev1mimmetricevents.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppEnv": {
      "type": "string",
      "defaultValue": "dev",
      "allowedValues": [
        "prod",
        "dev"
      ]
    },
    "logicAppLocation": {
      "type": "string",
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "dynamicsCrmOnlineConnectionName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Dynamics 365 connection"
      }
    },
    "relatedAccountGUID": {
      "type": "string",
      "metadata": {
        "description": "GUID of the Customer Account in Dynamics"
      }
    },
    "monitoringContactGUID": {
      "type": "string",
      "metadata": {
        "description": "GUID of the Monitoring Contact on Event creation"
      }
    },
    "integrationAccountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the integration account"
      }
    }
  },
  "variables": {
    "prod": "/datasets/@{encodeURIComponent(encodeURIComponent('org9f436416.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('apitil_events'))}/items",
    "dev": "/datasets/@{encodeURIComponent(encodeURIComponent('orgb1b7c4c0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('apitil_events'))}/items"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/integrationAccounts",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('integrationAccountName')]",
      "properties": { },
      "sku": {
        "name": "Free"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('dynamicsCrmOnlineConnectionName')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/dynamicscrmonline')]"
        },
        "displayName": "[parameters('dynamicsCrmOnlineConnectionName')]"
      }
    },
    {
      "name": "MSP-event-manager-sev-1-mim-metrics",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('dynamicsCrmOnlineConnectionName'))]",
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('integrationAccountName'))]"
      ],
      "apiVersion": "2016-06-01",
      "properties": {
        "integrationAccount": {
          "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('integrationAccountName'))]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "actions": {
            "For_each": {
                "actions": {
                    "Create_a_new_record": {
                        "inputs": {
                            "body": {
                                "_apitil_impact_label": "1-Extensive",
                                "_apitil_level_label": "Critical",
                                "_apitil_relatedaccount_value": "[parameters('relatedAccountGUID')]",
                                "_apitil_source_label": "OMS",
                                "_apitil_urgency_label": "Critical",
                                "_mag_relatedcontact_value": "[parameters('monitoringContactGUID')]",
                                "apitil_acknowledged": false,
                                "apitil_description": "Description: @{triggerBody()?['data']?['essentials']?['alertRule']}\n\nAffectedConfigurationItem: {\n @{items('For_each')?['dimensions']?[0]?['value']}\n}\n\nMetric Name: @{items('For_each')?['metricName']}\nMetric Value: @{items('For_each')?['metricValue']}\nMetric Namespace: @{items('For_each')?['metricNamespace']}\nOperator: @{items('For_each')?['operator']}\nThreshold: @{items('For_each')?['threshold']}\nTime Aggregation: @{items('For_each')?['timeAggregation']}\nWindow Size: @{body('Parse_JSON')?['condition']?['windowSize']}\nWindow Start Time: @{body('Parse_JSON')?['condition']?['windowStartTime']}\nWindow End TIme:  @{body('Parse_JSON')?['condition']?['windowEndTime']}",
                                "apitil_device": "@{items('For_each')?['dimensions']?[0]?['value']}",
                                "apitil_eventidexternal": "@triggerBody()?['data']?['essentials']?['monitorCondition']",
                                "apitil_level": 345550003,
                                "apitil_name": "@{triggerBody()?['data']?['essentials']?['alertRule']} - ( @{items('For_each')?['dimensions']?[0]?['value']} )",
                                "apitil_raisedon": "@{formatDateTime(utcNow(),'MM/dd/yyyy hh:mm tt')}"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "[if(equals(parameters('logicAppEnv'), 'prod'), variables('prod'), variables('dev'))]"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Parse_JSON')?['condition']?['allOf']",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@triggerBody()?['data']?['alertContext']",
                    "schema": {
                        "properties": {
                            "condition": {
                                "properties": {
                                    "allOf": {
                                        "items": {
                                            "properties": {
                                                "dimensions": {
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "value"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "metricName": {
                                                    "type": "string"
                                                },
                                                "metricNamespace": {
                                                    "type": "string"
                                                },
                                                "metricValue": {
                                                    "type": "number"
                                                },
                                                "operator": {
                                                    "type": "string"
                                                },
                                                "threshold": {
                                                    "type": "string"
                                                },
                                                "timeAggregation": {
                                                    "type": "string"
                                                },
                                                "webTestName": {}
                                            },
                                            "required": [
                                                "metricName",
                                                "metricNamespace",
                                                "operator",
                                                "threshold",
                                                "timeAggregation",
                                                "dimensions",
                                                "metricValue",
                                                "webTestName"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "windowEndTime": {
                                        "type": "string"
                                    },
                                    "windowSize": {
                                        "type": "string"
                                    },
                                    "windowStartTime": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "conditionType": {
                                "type": "string"
                            },
                            "properties": {}
                        },
                        "type": "object"
                    }
                },
                "runAfter": {},
                "type": "ParseJson"
            }
        },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "data": {
                                "properties": {
                                    "alertContext": {
                                        "properties": {
                                            "AffectedConfigurationItems": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "AlertType": {
                                                "type": "string"
                                            },
                                            "IncludeSearchResults": {
                                                "type": "boolean"
                                            },
                                            "IncludedSearchResults": {
                                                "type": "string"
                                            },
                                            "LinkToSearchResults": {
                                                "type": "string"
                                            },
                                            "Operator": {
                                                "type": "string"
                                            },
                                            "ResultCount": {
                                                "type": "integer"
                                            },
                                            "SearchIntervalDurationMin": {
                                                "type": "string"
                                            },
                                            "SearchIntervalEndtimeUtc": {
                                                "type": "string"
                                            },
                                            "SearchIntervalInMinutes": {
                                                "type": "string"
                                            },
                                            "SearchIntervalStartTimeUtc": {
                                                "type": "string"
                                            },
                                            "SearchQuery": {
                                                "type": "string"
                                            },
                                            "SearchResults": {
                                                "properties": {
                                                    "dataSources": {
                                                        "items": {
                                                            "properties": {
                                                                "region": {
                                                                    "type": "string"
                                                                },
                                                                "resourceId": {
                                                                    "type": "string"
                                                                },
                                                                "tables": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "required": [
                                                                "resourceId",
                                                                "region",
                                                                "tables"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "tables": {
                                                        "items": {
                                                            "properties": {
                                                                "columns": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "name",
                                                                            "type"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "rows": {
                                                                    "items": {
                                                                        "type": "array"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "required": [
                                                                "name",
                                                                "columns",
                                                                "rows"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "SeverityDescription": {
                                                "type": "string"
                                            },
                                            "Threshold": {
                                                "type": "integer"
                                            },
                                            "WorkspaceId": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "essentials": {
                                        "properties": {
                                            "alertContextVersion": {
                                                "type": "string"
                                            },
                                            "alertId": {
                                                "type": "string"
                                            },
                                            "alertRule": {
                                                "type": "string"
                                            },
                                            "alertTargetIDs": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "essentialsVersion": {
                                                "type": "string"
                                            },
                                            "firedDateTime": {
                                                "type": "string"
                                            },
                                            "monitorCondition": {
                                                "type": "string"
                                            },
                                            "monitoringService": {
                                                "type": "string"
                                            },
                                            "originAlertId": {
                                                "type": "string"
                                            },
                                            "severity": {
                                                "type": "string"
                                            },
                                            "signalType": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            },
                            "schemaId": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "type": "Object",
            "value": {
              "dynamicscrmonline": {
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/dynamicscrmonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('dynamicsCrmOnlineConnectionName'))]",
                "connectionName": "[parameters('dynamicsCrmOnlineConnectionName')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {}
}