projects/alertmanager/alertmanager-webevents.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppEnv": {
      "type": "string",
      "defaultValue": "dev",
      "allowedValues": [
        "prod",
        "dev"
      ]
    },
    "logicAppLocation": {
      "type": "string",
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "dynamicsCrmOnlineConnectionName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Dynamics 365 connection"
      }
    },
    "relatedAccountGUID": {
      "type": "string",
      "metadata": {
        "description": "GUID of the Customer Account in Dynamics"
      }
    },
    "monitoringContactGUID": {
      "type": "string",
      "metadata": {
        "description": "GUID of the Monitoring Contact on Event creation"
      }
    },
    "integrationAccountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the integration account"
      }
    }
  },
  "variables": {
    "prod": "/datasets/@{encodeURIComponent(encodeURIComponent('org9f436416.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('apitil_events'))}/items",
    "dev": "/datasets/@{encodeURIComponent(encodeURIComponent('orgb1b7c4c0.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('apitil_events'))}/items"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/integrationAccounts",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('integrationAccountName')]",
      "properties": { },
      "sku": {
        "name": "Free"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('dynamicsCrmOnlineConnectionName')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/dynamicscrmonline')]"
        },
        "displayName": "[parameters('dynamicsCrmOnlineConnectionName')]"
      }
    },
    {
      "name": "MSP-event-web",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('dynamicsCrmOnlineConnectionName'))]"
      ],
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "actions": {
            "For_each": {
              "actions": {
                "Create_a_new_record": {
                  "inputs": {
                    "body": {
                      "_apitil_action_label": "Notify Support",
                      "_apitil_impact_label": "2-Significant",
                      "_apitil_level_label": "Exception",
                      "_apitil_source_label": "OMS",
                      "_apitil_sourcestate_label": "Acknowledged",
                      "_apitil_urgency_label": "2-High",
                      "_statuscode_label": "New",
                      "apitil_acknowledged": false,
                      "apitil_description": "Description: @{triggerBody()?['data']?['essentials']?['description']}\n\nAlert Target: @{items('For_each')}",
                      "apitil_level": 345550002,
                      "apitil_name": "MSP-site-availability - ( @{triggerBody()?['data']?['essentials']?['alertRule']} )",
                      "apitil_raisedon": "@{formatDateTime(utcNow(),'MM/dd/yyyy hh:mm tt')}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "[if(equals(parameters('logicAppEnv'), 'prod'), variables('prod'), variables('dev'))]"
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                }
              },
              "foreach": "@triggerBody()?['data']?['essentials']?['alertTargetIDs']",
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Parse_JSON": {
              "inputs": {
                "content": "@triggerBody()?['data']?['essentials']",
                "schema": {
                  "essentials": {
                    "properties": {
                      "alertContextVersion": {
                        "type": "string"
                      },
                      "alertId": {
                        "type": "string"
                      },
                      "alertRule": {
                        "type": "string"
                      },
                      "alertTargetIDs": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "description": {
                        "type": "string"
                      },
                      "essentialsVersion": {
                        "type": "string"
                      },
                      "firedDateTime": {
                        "type": "string"
                      },
                      "monitorCondition": {
                        "type": "string"
                      },
                      "monitoringService": {
                        "type": "string"
                      },
                      "originAlertId": {
                        "type": "string"
                      },
                      "resolvedDateTime": {
                        "type": "string"
                      },
                      "severity": {
                        "type": "string"
                      },
                      "signalType": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                }
              },
              "runAfter": {},
              "type": "ParseJson"
            }
          },
          "outputs": {},
          "triggers": {
            "manual": {
              "inputs": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "alertContext": {
                          "properties": {},
                          "type": "object"
                        },
                        "essentials": {
                          "properties": {
                            "alertContextVersion": {
                              "type": "string"
                            },
                            "alertId": {
                              "type": "string"
                            },
                            "alertRule": {
                              "type": "string"
                            },
                            "alertTargetIDs": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "description": {
                              "type": "string"
                            },
                            "essentialsVersion": {
                              "type": "string"
                            },
                            "firedDateTime": {
                              "type": "string"
                            },
                            "monitorCondition": {
                              "type": "string"
                            },
                            "monitoringService": {
                              "type": "string"
                            },
                            "originAlertId": {
                              "type": "string"
                            },
                            "resolvedDateTime": {
                              "type": "string"
                            },
                            "severity": {
                              "type": "string"
                            },
                            "signalType": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "schemaId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {
          "$connections": {
            "type": "Object",
            "value": {
              "dynamicscrmonline": {
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/dynamicscrmonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('dynamicsCrmOnlineConnectionName'))]",
                "connectionName": "[parameters('dynamicsCrmOnlineConnectionName')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {}
}